body{
    background-color: black;
    color: aqua;
}
.signup__image--container {
    background-image: url(https://wallpapercave.com/wp/wp7029319.jpg);
    height: 80vh;
    background-size: cover;
}

.signup__form--container,
.login__form--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login__image--container {
    background-image: url(https://i.pinimg.com/originals/fe/d6/95/fed69577e0d679cc246ce050ed07a719.jpg);
    height: 80vh;
    background-size: cover;
}

@media screen and (max-width: 756px) {
    .login__image--container,
    .signup__image--container {
        display: none;
    }
}

/* home https://res.cloudinary.com/learn-code-10/image/upload/v1653947013/yqajnhqf7usk56zkwqi5.png */
/* https://res.cloudinary.com/learn-code-10/image/upload/v1654093280/xkia6f13xxlk5xvvb5ed.png sale */